.content{
    &__wrapper{
        margin-top: 20px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        &-box{
            border: 1px solid #ddd;
            box-shadow: 0 3px 5px #0009;
            padding: 20px;
            text-align: center;
        }
        &-title{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 30px;
        }
        &-text{
            font-size: 18px;
            line-height: 1.3;
        }
    }
}