.content{
    &__inner{
        margin-top: 50px;
        width: 100%;
    }
    &__tophead{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span{
            font-size: 39px;
        }
        .content__btn-head{
            display: flex;
            gap: 32px;
            cursor: pointer;
        }
    }
    &__inner{
        table{
            border-collapse: collapse;
            margin-top: 20px;
            width: 100%;
            text-align: left;
            cursor: no-drop;
            th{
                color: #878787;
                font-weight: 500;
                font-size: 20px;
                background: #FFFFFF;
            }
            td{
                font-size: 18px;
            }
            th,td{
                padding: 25px;
            }
            td{
                &:nth-child(1){
                    display: flex;
                    align-items: center;
                    gap: 24px;
                }
                &:nth-child(3){
                    color: #00CA39;
                }
                &:nth-child(4){
                    color: #ff0000;
                }
            }
            tr{
                &:nth-child(odd){
                    background: #EEF2F5;
                }
            }
        }
    }
}