.content{
    &__inner{
        margin-top: 50px;
        width: 100%;
    }
    &__tophead{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span{
            font-size: 39px;
        }
        .content__btn-head{
            display: flex;
            gap: 32px;
        }
    }
}