.content{
    &__table{
        margin-top: 20px;
        padding-top: 32px;
        border: 1px solid #999;
        border-radius: 10px;
        p{
            text-indent: 32px;
            font-weight: 600;
            font-size: 19px;
            color: #252733;
            margin-bottom: 20px;
        }
        
    }
}